<!-- * IT Business Management v1.0.0
  * Copyright 2019-2021 The MSOFTWARE (https://www.msoftware.com/)
  * Licensed (https://www.msoftware.com/) -->

<meta charset="utf-8" />
<link rel="stylesheet" href="~/wwwroot/js/DBcon.js" />



<div class="container-fluid mt-0">
    <div class="card mb-4 wow fadeIn bg-m-0">

        <!--Page Title/Button Bar-->
        <div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">
                <a href="">Departmanlar</a>
            </h4>

            <div class="lt-gist-group lisroup-flush">
                <a id="add" asp-controller="" asp-action="" asp-area="" class="list-group-item active waves-effect">Departman Ekle</a>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid p-0">
    <div class="card">
        <table class="card-body">
            <!-- Table body -->
            <tbody>
                <tr>
                    <td>
                        <button contenteditable="true" asp-area="" asp-controller="Department" asp-action="#" id="b1" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button contenteditable="true" asp-area="" asp-controller="Department" asp-action="#" id="b2" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button contenteditable="true" asp-area="" asp-controller="Department" asp-action="#" id="b3" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button contenteditable="true" asp-area="" asp-controller="Department" asp-action="#" id="b4" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b5" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b6" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" class="list-group-item active waves-effect">
                            <i id="b7" class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" class="list-group-item active waves-effect">
                            <i id="b8" class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" class="list-group-item active waves-effect">
                            <i id="b9" class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" class="list-group-item active waves-effect">
                            <i id="b10" class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" class="list-group-item active waves-effect">
                            <i id="b11" class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" class="list-group-item active waves-effect">
                            <i id="b12" class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" class="list-group-item active waves-effect">
                            <i id="b13" class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" class="list-group-item active waves-effect">
                            <i id="b14" class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" class="list-group-item active waves-effect">
                            <i id="b15" class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" class="list-group-item active waves-effect">
                            <i id="b16" class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" class="list-group-item active waves-effect">
                            <i id="b17" class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" class="list-group-item active waves-effect">
                            <i id="b18" class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" class="list-group-item active waves-effect">
                            <i id="b19" class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b20" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b21" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b22" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" d="b23" class="list-group-item active waves-effect">
                            <i i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b24" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b25" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b26" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b27" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b28" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b29" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b30" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b31" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b32" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b33" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b34" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b35" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b36" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b37" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b38" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b39" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                    <td>
                        <button asp-area="" asp-controller="Department" asp-action="#" id="b40" class="list-group-item active waves-effect">
                            <i id="b40" class="fa fa-pie-chart mr-3"><img src="~/images/s-depart-40.png" alt="P-" width="40" height="40" viewBox="0 0 40 40" style="fill:none" />Yeniden Adlandır</i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <!-- Table body -->
        </table>
        <script type="text/javascript" src="~/js/department.js" language="javascript" asp-append-version="true"></script>

    </div>
</div>

