<!-- Main Page -->
<div class="container-fluid mt-0">

    <!-- Heading -->
    <div class="card mb-4 wow fadeIn bg-m-0">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">
                <a href="">Ana Sayfa</a>
            </h4>
        </div>
    </div>
    <!-- Heading -->
    <!--Grid row-->
    <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

            <!--Card-->
            <div class="card able-wrapper-scroll-y table-scrollbar">

                <!-- Card header -->
                <div class="card-header">İş/Proje Durumu</div>

                <!--Card content-->
                <div class="card-body">

                    <table id="work-table" class="table table-hover table-bordered table-striped mb-0">
                        <!-- Table head -->
                        <thead class="card-header">
                            <tr>
                                <th></th>
                                <th id="work-list">İş/Proje</th>
                                <th id="username">Görevli</th>
                                <th>Durum</th>
                                <th>Rapor</th>
                            </tr>
                        </thead>
                        <!-- Table head -->
                        <!-- Table body -->
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>IT Business Managemet Mobil App</td>
                                <td>Murat Korkmaz</td>
                                <td>Devam ediyor</td>
                                <td>Raporlanmamış</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                                <td>Cell 7</td>
                                <td>Cell 8</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Cell 9</td>
                                <td>Cell 10</td>
                                <td>Cell 11</td>
                                <td>Cell 12</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Cell 13</td>
                                <td>Cell 14</td>
                                <td>Cell 15</td>
                                <td>Cell 16</td>
                            </tr>
                        </tbody>
                        <!-- Table body -->
                    </table>

                </div>

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-6 mb-4">

            <!--Card-->
            <div class="card able-wrapper-scroll-y table-scrollbar">
                <!-- Card header -->
                <div class="card-header">Alınan Avanslar</div>

                <!--Card content-->
                <div class="card-body">

                    <table class="table table-hover table-bordered table-striped mb-0">
                        <!-- Table head -->
                        <thead class="card-header">
                            <tr>
                                <th></th>
                                <th>İsim</th>
                                <th>Miktar/₺</th>
                                <th>Tarih</th>
                            </tr>
                        </thead>
                        <!-- Table head -->
                        <!-- Table body -->
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Hüseyin Özdemir </td>
                                <td>3.500 TL</td>
                                <td>22.02.2021</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Cell</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Cell</td>
                                <td>Cell 8</td>
                                <td>Cell 9</td>
                            </tr>
                        </tbody>
                        <!-- Table body -->
                    </table>

                </div>

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
    <!--Grid row-->
    <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4">

            <!--Card-->
            <div class="card able-wrapper-scroll-y table-scrollbar">

                <!-- Card header -->
                <div class="card-header">IT Personel</div>

                <!--Card content-->
                <div class="card-body">

                    <table class="table table-hover table-bordered table-striped mb-0">
                        <!-- Table head -->
                        <thead class="card-header">
                            <tr>
                                <th></th>
                                <th>Ad</th>
                                <th>Soyad</th>
                                <th>Pozisyon</th>
                            </tr>
                        </thead>
                        <!-- Table head -->
                        <!-- Table body -->
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Nazlı</td>
                                <td>Çırpan</td>
                                <td>Web Developer</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Murat </td>
                                <td>Korkmaz</td>
                                <td>.Net Developer</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Deniz</td>
                                <td>Doğulu</td>
                                <td>Graphic Designer</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Cell 10</td>
                                <td>Cell 11</td>
                                <td>Cell 12</td>
                            </tr>
                        </tbody>
                        <!-- Table body -->
                    </table>

                </div>

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4">

            <!--Card-->
            <div class="card-">

                <!--Card content-->
                <div class="card-b" onload="renderDate()">
                    <div class="month">
                        <div class="prev" onclick="moveDate('prev')">
                            <span>&#10094;</span>
                        </div>

                        <h2 id="month"></h2>
                        <br>
                        <p id="date_str"></p>

                        <div class="next" onclick="moveDate('next')">
                            <span>&#10095;</span>
                        </div>
                    </div>
                    <ul class="weekdays">
                        <li>Pa</li>
                        <li>Pts</li>
                        <li>Sa</li>
                        <li>Ça</li>
                        <li>Per</li>
                        <li>Cu</li>
                        <li>Cmt</li>
                    </ul>
                    <ul class="days">
                    </ul>
                </div>
            </div>
            <!--/.Card-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->

</div>

<link rel="icon" type="image/x-icon" href="favicon.ico">
<script type="text/javascript" src="~/js/calendar.js" language="javascript" asp-append-version="true"></script>