<div class="container-fluid mt-0">
    <div class="card mb-4 wow fadeIn bg-m-0">

        <!--Page Title/Button Bar-->
        <div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">
                <a href="">Raporlar</a>
            </h4>


        </div>
    </div>
</div>
<!--Card-->


    <div class="container-fluid p-0">
        <table class="card-b" id="work-table">
            <tr>
                <td>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/images/Teamwork.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" id="workl">İş/Proje Tanımı</h5>
                            <p class="card-text" id="username">Görevli personel veya personel isimleri.</p>
                            <a href="#" class="btn-sm list-group-item active waves-effect">Görüntüle</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/images/Teamwork.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" id="work-card">İş/Proje Tanımı</h5>
                            <p class="card-text" id="personal-d">Görevli personel veya personel isimleri.</p>
                            <a href="#" class="btn-sm list-group-item active waves-effect">Görüntüle</a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

