<div class="container-fluid mt-0">

    <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between bg-m-0">
            <!--Title-->
            <h4 class="mb-2 mb-sm-0 pt-1">
                <a href="">İhtiyaç Listesi</a>
            </h4>
            <!--Title-->
            <!--Search-->
            <form class="d-none d-sm-inline-block">
                <div class="input-group input-group-navbar">
                    <input type="text" class="form-control" placeholder="Ara…" aria-label="Search">
                    <button class="btn" type="button" style="background-color: #1659c7">
                        <svg xmlns="http://www.w3.org/2000/svg" style="color:white" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search align-middle">
                        <circle  cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                    </button>
                </div>
            </form>
            <!--Search-->
        </div>
        <!--Card content-->
    </div>

    <div class="card mb-4 wow fadeIn bg-m">
        <!--Page Title/Button Bar-->
        <div class="card-body d-sm-flex justify-content-between">

            <div class="tab-pane active">


                <div class="form-group">
                    <div class="col-xs-6">
                        <!--Top bar-->
                        <table>

                            <thead>
                                <tr>
                                    <td>
                                    <h5><label for="Açıklama" style="color:white">İhtiyaç:</label></h5>
                                    <input type="text" class="form-control" name="Açıklama" id="İnformation" placeholder="Açıklama" size="75" title="Açıklama Girin.">
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                    <td>
                                        <h5><label for="Miktar" style="color:white">Miktar:</label></h5>
                                        <input type="text" class="form-control" name="Miktar" id="Miktar" placeholder="Miktar" size="60" title="Miktar Girin.">
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <h5><label for="Açıklama" style="color:white">Açıklama:</label></h5>
                                        <input type="text" class="form-control" name="Açıklama" id="İnformation" placeholder="Açıklama" size="75" title="Açıklama Girin.">
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <h5><label for="Tarih" style="color:white">Tarih:</label></h5>
                                        <input type="datetime-local" class="form-control" name="Tarih" id="DataTime" placeholder="Tarih" title="Tarih Girin.">
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </thead>
                        </table>
                        <!--Top bar-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Card-->
<div class="card flex-fill">
    <div class="card-header"></div>

    <div id="datatables-dashboard-projects_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12 col-md-6">
            </div>
            <div class="col-sm-12 col-md-6">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <!--Table-->
                <table id="datatables-dashboard-projects" class="table table-striped my-0 dataTable no-footer" role="grid" aria-describedby="datatables-dashboard-projects_info">
                    <thead>
                        <!--Table Cell Header-->
                        <tr role="row">
                            <th class="sorting sorting_asc" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">Miktar</th>

                            <th class="sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Açıklama</th>

                            <th class="d-none d-md-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Tarih</th>
                        </tr>
                        <!--Table Cell Header-->
                    </thead>

                    <!--Table body-->
                    <tbody>

                        <tr class="odd">
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                        </tr>
                        <tr class="even">
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                        </tr>
                        <tr class="odd">
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                        </tr>
                        <tr class="even">
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                        </tr>
                        <tr class="odd">
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                        </tr>
                        <tr class="even">
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                        </tr>
                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
            </div>
        </div>
        <!--Table page-->
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="stockDatatablesInfo" role="status" aria-live="polite">6 kayıttan 1-6 arası gösteriliyor</div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="datatables-dashboard-projects_paginate">
                    <ul class="pagination">
                        <li class="paginate_button page-item previous disabled" id="datatables-dashboard-projects_previous">
                            <a href="#" aria-controls="datatables-dashboard-projects" data-dt-idx="0" tabindex="0" class="page-link">önceki</a>
                        </li>
                        <li class="paginate_button page-item active">
                            <a href="#" aria-controls="datatables-dashboard-projects" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="datatables-dashboard-projects" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                        </li>
                        <li class="paginate_button page-item previous disabled" id="datatables-dashboard-projects_next">
                            <a href="#" aria-controls="datatables-dashboard-projects" data-dt-idx="0" tabindex="0" class="page-link">sonraki</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Table page-->
    </div>
</div>
<!--Card-->
<br />
<!--Bottom bar-->
<div class="card mb-4 wow fadeIn">
    <table>
        <thead>
            <tr>
                <td>
                    <!--Buttons-->
                    <div class="lt-gist-group lisroup-flush">
                        <a id="add" asp-controller="Device" asp-action="Personal" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3">Ekle</i>
                        </a>
                    </div>
                </td>
                <td>
                    <div class="lt-gist-group lisroup-flush">
                        <a id="add" asp-controller="Device" asp-action="Personal" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3">Sil</i>
                        </a>
                    </div>
                </td>
                <td>
                    <div class="lt-gist-group lisroup-flush">
                        <a id="add" asp-controller="Device" asp-action="Personal" class="list-group-item active waves-effect">
                            <i class="fa fa-pie-chart mr-3">Güncelle</i>
                        </a>
                    </div>
                    <!--Buttons-->
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
        </thead>
    </table>
    <script src="~/js/computerPage.js"></script>
</div>
<!--Bottom bar-->