<div class="container-fluid mt-5">
    <div class="card mb-4 wow fadeIn">

        <!--Page Title/Button Bar-->
        <div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">
                <a href="">Kullanım Koşulları</a>
            </h4>
        </div>
    </div>
</div>
<div class="container-fluid p-0">
    <div class="card">
        <p>
            Sevgili müşterimiz, lütfen ITBusinessManagement web sitemizi ziyaret etmeden önce işbu
            kullanım koşulları sözleşmesini dikkatlice okuyunuz. Siteye erişiminiz
            tamamen bu sözleşmeyi kabulünüze ve bu sözleşme ile belirlenen
            şartlara uymanıza bağlıdır. Şayet bu sözleşmede yazan herhangi
            bir koşulu kabul etmiyorsanız, lütfen siteye erişiminizi sonlandırınız.
            Siteye erişiminizi sürdürdüğünüz takdirde, koşulsuz ve kısıtlamasız olarak,
            işbu sözleşme metninin tamamını kabul ettiğinizin, tarafımızca varsayılacağını
            lütfen unutmayınız.
        </p>
        <p>
            ITBusinessManagement web sitesi MSoftware tarafından yönetilmekte olup, bundan sonra IT Business Management olarak anılacaktır.
            İşbu siteye ilişkin Kullanım Koşulları, yayınlanmakla yürürlüğe girer.
            Değişiklik yapma hakkı, tek taraflı olarak IT Business Management'a aittir ve
            SİTE üzerinden güncel olarak paylaşılacak olan bu değişiklikleri,
            tüm kullanıcılarımız baştan kabul etmiş sayılır.
        </p>
        <h2>Gizlilik</h2>
        <p>
            Gizlilik, ayrı bir sayfada, kişisel verilerinizin tarafımızca
            işlenmesinin esaslarını düzenlemek üzere mevcuttur. IT Business Management'ı kullandığınız takdirde,
            bu verilerin işlenmesinin gizlilik politikasına uygun olarak gerçekleştiğini
            kabul edersiniz.
        </p>
        <h2>Hizmet Kapsamı</h2>
        <p>
            MSoftware olarak, sunacağımız hizmetlerin kapsamını ve niteliğini, yasalar
            çerçevesinde belirlemekte tamamen serbest olup; hizmetlere ilişkin yapacağımız
            değişiklikler, IT Business Management'da yayınlanmakla yürürlüğe girmiş sayılacaktır.
        </p>
        <h2>Telif Hakları</h2>
        <p>
            IT Business Management'da yayınlanan tüm metin, kod, grafikler,
            logolar, resimler, ses dosyaları ve kullanılan yazılımın sahibi
            (bundan böyle ve daha sonra "içerik" olarak anılacaktır) MSoftware olup,
            tüm hakları saklıdır. Yazılı izin olmaksızın site içeriğinin çoğaltılması veya kopyalanması
            kesinlikle yasaktır.
        </p>
        <h2>Genel Hükümler</h2>
        <ul>
            <li>
                Kullanıcıların tamamı, IT Business Management'ı yalnızca hukuka uygun ve şahsi
                amaçlarla kullanacaklarını ve üçüncü kişinin haklarına tecavüz
                teşkil edecek nitelikteki herhangi bir faaliyette bulunmayacağını
                taahhüt eder. IT Business ManagementE dâhilinde yaptıkları işlem ve eylemlerindeki,
                hukuki ve cezai sorumlulukları kendilerine aittir. İşbu iş ve
                eylemler sebebiyle, üçüncü kişilerin uğradıkları veya uğrayabilecekleri
                zararlardan dolayı IT Business Management'ı doğrudan ve/veya dolaylı hiçbir sorumluluğu yoktur.
            </li>
            <li>
                IT Business Management'da mevcut bilgilerin doğruluk ve güncelliğini sağlamak için
                elimizden geleni yapmaktayız. Lakin gösterdiğimiz çabaya rağmen,
                bu bilgiler, fiili değişikliklerin gerisinde kalabilir, birtakım
                farklılıklar olabilir. Bu sebeple, IT Business Management içerisinde yer alan bilgilerin
                doğruluğu ve güncelliği ile ilgili tarafımızca, açık veya zımni, herhangi
                bir garanti verilmemekte, hiçbir taahhütte bulunulmamaktadır.
            </li>
            <li>
                IT Business Management'da üçüncü şahıslar tarafından işletilen ve içerikleri tarafımızca
                bilinmeyen diğer web sitelerine, uygulamalara ve platformlara köprüler
                (hyperlink) bulunabilir. IT Business Management, işlevsellik yalnızca bu sitelere ulaşımı
                sağlamakta olup, içerikleri ile ilgili hiçbir sorumluluk kabul etmemekteyiz.
            </li>
            <li>
                IT Business Management'ı virüslerden temizlenmiş tutmak konusunda elimizden geleni
                yapsak da, virüslerin tamamen bulunmadığı garantisini vermemekteyiz.
                Bu nedenle veri indirirken, virüslere karşı gerekli önlemi almak, kullanıcıların
                sorumluluğundadır. Virüs vb. kötü amaçlı programlar, kodlar veya materyallerin
                sebep olabileceği zararlardan dolayı sorumluluk kabul etmemekteyiz.
            </li>
            <li>
                IT Business Management'da sunulan hizmetlerde, kusur veya hata olmayacağına ya da
                kesintisiz hizmet verileceğine dair garanti vermemekteyiz. IT Business Management'a ve
                sitenin hizmetlerine veya herhangi bir bölümüne olan erişiminizi önceden
                bildirmeksizin herhangi bir zamanda sonlandırabiliriz.
            </li>
        </ul>
        <h2>Sorumluluğun Sınırlandırılması</h2>
        <p>
            IT Business Management'ın kullanımından doğan zararlara ilişkin sorumluluğumuz, kast ve ağır ihmal ile sınırlıdır.
            Sözleşmenin ihlalinden doğan zararlarda, talep edilebilecek toplam tazminat,
            öngörülebilir hasarlar ile sınırlıdır. Yukarıda bahsedilen sorumluluk sınırlamaları
            aynı zamanda insan hayatına, bedeni yaralanmaya veya bir kişinin sağlığına gelebilecek
            zararlar durumunda geçerli değildir. Hukuken mücbir sebep sayılan tüm durumlarda,
            gecikme, ifa etmeme veya temerrütten dolayı, herhangi bir tazminat yükümlülüğümüz
            doğmayacaktır.
        </p>
        <p>
            Uyuşmazlık Çözümü: İşbu Sözleşme'nin uygulanmasından veya yorumlanmasından
            doğacak her türlü uyuşmazlığın çözümünde, Türkiye Cumhuriyeti yasaları uygulanır;
            Kütahya Adliyesi Mahkemeleri ve İcra Daireleri yetkilidir.
        </p>

    </div>
</div>

